## How to take help

In [1]:
message = "Hello Crash course Readers"

In [2]:
type(message)

str

In [3]:
id(message)

1890982725872

In [4]:
help(message.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [5]:
?message.count

In [6]:
message.count?

In [7]:
message.count??

In [8]:
??message.count

In [9]:
print(message)

Hello Crash course Readers

## Combining or cancatenation of String

In [10]:
first_name = 'Qasim'

In [11]:
last_name = 'Hassan'

In [12]:
full_name = first_name+" "+last_name
print(full_name)
full_name

Qasim Hassan

'Qasim Hassan'

In [13]:
# + - * / < > != == === are operators
'Qasim'+'Hassan'

'QasimHassan'

In [14]:
name1 = 'Qasim'
name2 = "Hassan"
name3 = '''Khan'''
print(name1, type(name3))
print(name2, type(name2))
print(name3, type(name3))

Qasim <class 'str'>
Hassan <class 'str'>
Khan <class 'str'>

In [15]:
documentation = """Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation."""

In [16]:
print(documentation)

Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation.

In [17]:
admit_card = """
100 Days code Challlenge
Name: Qasim Hassan
University: BUKC
Department: BCE-6A
RegNo: 56789"""
print(admit_card)

100 Days code Challlenge
Name: Qasim Hassan
University: BUKC
Department: BCE-6A
RegNo: 56789

In [18]:
name = 'Qasim Hassan'
university = "BUKC"
department = "BCE-6A"
regNo = 56789

admit_card = f"""
100 Days Code Challenge
Name: {name}
University : {university}
Department : {department}
Regno: {regNo}"""

print(admit_card)

100 Days Code Challenge
Name: Qasim Hassan
University : BUKC
Department : BCE-6A
Regno: 56789

In [19]:
# static Code
name = 'Qasim Hassan'
university = 'BUKC'
department = 'BCE-6A'
regNO = '56789'

admit_card = """
100 Days of Code Challenge
Name :{}
University :{}
Department :{}
RegNo : {}""".format(name,university,department,regNo)

print(admit_card)

100 Days of Code Challenge
Name :Qasim Hassan
University :BUKC
Department :BCE-6A
RegNo : 56789

In [20]:
# Dynamic Code
name= input('Enter your name : ')
university= input('Your University name :')
department= input('Your Department name :')
regNo = input('Your Registration number :')

admit_card = """
+++++++++++++++++++++++++++++++++++++++++++
100 Days of Code Challenge
Name : {}
University : {}
Department : {}
RegNo : {}
++++++++++++++++++++++++++++++++++++++++++++
""".format(name,university,department,regNo)

print(admit_card)

Enter your name : Qasim Hassan
Your University name :BUKC
Your Department name :BCE-6A
Your Registration number :56789

+++++++++++++++++++++++++++++++++++++++++++
100 Days of Code Challenge
Name : Qasim Hassan
University : BUKC
Department : BCE-6A
RegNo : 56789
++++++++++++++++++++++++++++++++++++++++++++

## String

In [21]:
indirect_sentence = "He said,\"I am ill\"." # Escaping Character
print(indirect_sentence)

He said,"I am ill".

In [22]:
name = 'Villanueva'

In [23]:
'V' in name

True

In [24]:
'z' in name

False

In [25]:
len(name)

10

In [26]:
name[11]

IndexError: string index out of range

In [27]:
name[2:6] #characters from 3rd till 6th

'llan'

In [28]:
name[0]

'V'

In [29]:
name[:5]

'Villa'

In [30]:
name[6:]

'ueva'

In [31]:
name[5]

'n'

In [32]:
name[:]

'Villanueva'

In [33]:
name.upper() # changing case

'VILLANUEVA'

In [34]:
'QASIM HASSAN'.lower()

'qasim hassan'

In [35]:
'qasim hassan'.title()

'Qasim Hassan'

In [36]:
'Qasim Hassan'.split()

['Qasim', 'Hassan']

In [37]:
'Qasim-Hassan'.split('-')

['Qasim', 'Hassan']

In [38]:
'Qasim-Hassan'.split('m')

['Qasi', '-Hassan']

In [39]:
''.join(['Hello-', '-World']) # remember we'll give list

'Hello--World'

In [40]:
"Hello World".replace('W','F')

'Hello Forld'

In [41]:
"{} {}".format('Qasim', "Hassan")

'Qasim Hassan'

In [42]:
'Hello   '.strip()

'Hello'

In [43]:
'Hello-----'.strip('-')

'Hello'

In [44]:
game = 'GTA     ' # Avoiding Extra Spaces

In [45]:
game

'GTA     '

In [46]:
game.rstrip()

'GTA'

In [47]:
name.index('a')

4

In [48]:
name.find('l')

2

## Arithematic Operators

 + , - , * , / , % , // , ** are operators

In [49]:
 2+ 5

7

In [50]:
'a' + 'c'

'ac'

In [51]:
56 + 167.90

223.9

In [52]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [53]:
int('1')+1

2

In [54]:
'Qasim >> ' * 5

'Qasim >> Qasim >> Qasim >> Qasim >> Qasim >> '

In [55]:
22/7

3.142857142857143

In [56]:
a = 2
b = 2

In [57]:
id(a)

140720980371264

In [58]:
id(b)

140720980371264

In [59]:
( 2 + 3) **2

25

In [60]:
number_with_power = 3**3

In [61]:
number_with_power

27

In [62]:
float_num = 22/7
print(type(float_num))

<class 'float'>

In [63]:
num1 = 34.5
num2 = 457.8
add = num1+num2

In [64]:
add

492.3