## Types of Operators
- Arithematic Operators
- Comparsion(relational) Operators
- Assignments Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

### Arithematic Operators

+ Addition
- Subtraction
* multiplication
/ Division
// FLoor division
% Modulus
**power

- Addition

In [1]:
2 + 7

9

In [2]:
2.0 + 5.0

7.0

In [3]:
2 + 5.0

7.0

In [4]:
'A' + 'B'

'AB'

In [5]:
['Qasim', 'Hassan'] + ['Muneeb', 'Khan']

['Qasim', 'Hassan', 'Muneeb', 'Khan']

In [6]:
(1,2) + (3,4)

(1, 2, 3, 4)

In [7]:
{3,4} + {5,6} # addition doesn't support Set addition --> Error Occur

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [8]:
{1 :'A'} + {2:'B'} # addition doesn't support dictionary addition --> Error Occur

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

- Subtraction

In [9]:
5 -3

2

In [11]:
5.6 -2

3.5999999999999996

In [14]:
[1,2,3,4] - [4,5,6] # subtraction doesn't support list subtraction

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [12]:
{2,4,5,6,7,8} - {6,7} # simple operation of set difference= a-b

{2, 4, 5, 8}

In [13]:
{'A','B','C', 'D'} - {'B','D'}

{'A', 'C'}

In [16]:
{1: 'A'} - {1:'A'} # subtraction doesn't support dictionary subtraction

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

 - Multiplication

In [18]:
 4 * 3

12

In [19]:
3.0 * 2

6.0

In [21]:
'A' * 3

'AAA'

In [22]:
['A'] * 3

['A', 'A', 'A']

In [25]:
('aA') * 3

'aAaAaA'

In [26]:
('aA',) * 3

('aA', 'aA', 'aA')

In [27]:
('aA','bB') * 3

('aA', 'bB', 'aA', 'bB', 'aA', 'bB')

In [28]:
[1,2,3,4] * [2,3,4,5]

TypeError: can't multiply sequence by non-int of type 'list'

 - Division

In [29]:
12/4

3.0

In [30]:
12//4

3

- Modulus %

5 * 2 = 10 
12 - 10 = 2

In [31]:
12 %5

2

 - power **

In [32]:
2 ** 3

8

In [33]:
'A' **3 # not supported

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

### Comparsion Operators

 ==
 >
 <
 >=
 <=
 !=
 <>

In [35]:
 2 ==3

False

In [36]:
2 ==2

True

In [37]:
2 == 2.0

True

In [38]:
2 == 2.1

False

In [39]:
 5 > 3

True

In [40]:
5 >= 3

True

In [42]:
9 <= 3

False

In [43]:
'A' > 'B'

False

'A' = 65 <---> 'Z' =90
'a' = 97 <---> 'z' = 122
'0' = 48 <---> '9' = 57

In [50]:
print(ord('a'), ord('A'), ord('0'), sep= ' >> ')

97 >> 65 >> 48

In [51]:
print(ord('z'), ord('Z'), ord('9'), sep= " >> ")

122 >> 90 >> 57

In [53]:
chr(65), chr(90)

('A', 'Z')

In [54]:
'qasim' != 'Qasim'

True

In [58]:
6 <= 5 > 4

False

### Assignment Operators

= 
+=
-=
*=
/=
//=
%=

In [63]:
a = 5

In [64]:
a += 5
a = a +5
a

15

In [66]:
a,a,a = 5,6,7
a

7

In [67]:
a = 5
a -= 2
a

3

In [68]:
a = 5 
a *= 2
a

10

In [69]:
a = 5 
a /= 5
a

1.0

In [70]:
a = 5
a //= 5
a

1

In [71]:
a = 5
a **a

3125

In [78]:
a = 12
a %= 5
a

2

In [80]:
 a = 'A'
a += 'B'
a

'AB'

In [81]:
a = [ 1,2,3,4]
a += [5,6,7]

In [82]:
a

[1, 2, 3, 4, 5, 6, 7]

### Logical Operators
- and  &
- or  |
- not !

In [83]:
True and True

True

In [85]:
True & True

True

In [84]:
True and False and True

False

In [86]:
not(True)

False

In [87]:
False | True

True

In [88]:
True or Flase

True

In [90]:
user = input()
pasward = input()

user == 'Admin' and pasward == '123'
# 'Admin' == 'Admin' and '123' =='123'
#        True        and    True
#                   True

Admin
123

True

In [91]:
user = input()
pasward = input()

(user == 'Admin') & (pasward == '123')
# 'Admin' == 'Admin' and '234' == '123'
#        True        and    Fasle
#                   False

Admin
234

False

In [93]:
user = input()
pasward = input()

((user == 'Qasim') or\
 (user == 'Hassan') or \
 (user == 'Muneeb')) and (pasward == '123')

Ali
123

False

In [103]:
user = input()
pasward = input()

not((user == 'Ali') & (pasward == '123'))

Ali
123

False

In [104]:
not(False)

True

In [105]:
not(True)

False

### Bitwise Operators

1,2,4,8,16,32,64,128,512 ---> bits

OPERATOR |	DESCRIPTION          | SYNTAX
&	     |   Bitwise AND	     |  x & y
|	     |   Bitwise OR	         |  x | y
~	     |   Bitwise NOT	     |    ~x
^	     |   Bitwise XOR	     |  x ^ y
>>	     |   Bitwise right shift |	  x>>
<<	     |   Bitwise left shift	 |    x<<

In [106]:
# 28 --> 11100
# 29 --> 11101
# ===============
# 28  --> 11100
# ===============
28 & 29

28

In [112]:
# a = 10 = 1010 (Binary)
# b = 4 =  0100 (Binary
# ======================
# a|b =    1110 (Binary)

10 | 4

14

In [109]:
~29

-30

In [110]:
~99

-100

In [111]:
~-30

29

### MemberShip Operator

In [115]:
names = ['Qasim', 'Hassan', 'Muneeb', 'Khan'] # without membership operator
i= 0
while i <len(names):
    if names[i] == 'Khan':
        print(True)
        break
    i+=1

True

In [116]:
'Khan' in names

True

In [118]:
user = input()

user in 'Pakistan'

Pak

True

In [119]:
'Qasim' not in user

True

In [120]:
user = input()
user = user.split('-')
user

Qasim-Hassan

['Qasim', 'Hassan']

### Identity Operator

In [121]:
a = '5'
b = 5
c = a

In [122]:
print(a is b)

False

In [123]:
print(a is c)

True

In [125]:
id(a) == id (c) #shallow copy

True

In [126]:
id(a)

2053185692528

In [127]:
id(c)

2053185692528

Since both a & c are at same place Shallow copy occur

In deep copy both have their own Physical address

# SUMMARY

***or Operator*** <br>
The Python or operator combines two Boolean expressions and evaluates to True if at least one of the expressions returns True. Otherwise, if both expressions are False, then the entire expression evaluates to False.

In [130]:
print(True or True)      # Evaluates to True
print(True or False)     # Evaluates to True
print(False or False)    # Evaluates to False
print(1 < 2 or 3 < 1)    # Evaluates to True
print(3 < 1 or 1 > 6 )   # Evaluates to False
print(1 == 1 or 1 < 2)   # Evaluates to True

True
True
False
True
False
True

***and Operator***<br>
The Python and operator performs a Boolean comparison between two Boolean values, variables, or expressions. If both sides of the operator evaluate to True then the and operator returns True. If either side (or both sides) evaluates to False, then the and operator returns False. A non-Boolean value (or variable that stores a value) will always evaluate to True when used with the and operator.

In [134]:
print(True and True)     # Evaluates to True
print(True and False)    # Evaluates to False
print(False and False)   # Evaluates to False
print(1 == 1 and 1 < 2)  # Evaluates to True
print(1 < 2 and 3 < 1)   # Evaluates to False
print("Yes" and 100)     # Evaluates to True

True
False
False
True
False
100

***not Operator***<br>
The Python Boolean not operator is used in a Boolean expression in order to evaluate the expression to its inverse value. If the original expression was True, including the not operator would make the expression False, and vice versa.

In [135]:
print(not True)     # Evaluates to False
print(not False)    # Evaluates to True
print(1 > 2)        # Evaluates to False
print(not 1 > 2)    # Evaluates to True
print(1 == 1)       # Evaluates to True
print(not 1 == 1)  # Evaluates to False

False
True
False
True
True
False

***Boolean Values***<br>
Booleans are a data type in Python, much like integers, floats, and strings. However, booleans only have two values:
- True
- False <br>
Specifically, these two values are of the bool type. Since booleans are a data type, creating a variable that holds a boolean value is the same as with other data types.

In [140]:
is_true = True
is_false = False
 
print(type(is_true)) # will output: <class 'bool'>

<class 'bool'>

***Comparison Operators***<br>
In Python, relational operators compare two values or expressions. The most common ones are:

- "<" less than
- ">" greater than
- "<=" less than or equal to
- ">=" greater than or equal too <br>
If the relation is sound, then the entire expression will evaluate to True. If not, the expression evaluates to False.

In [142]:
a = 2
b = 3
print(a < b)  # evaluates to True
print(a > b)  # evaluates to False
print(a >= b) # evaluates to False
print(a <= b) # evaluates to True
print(a <= a) # evaluates to True

True
False
False
True
True