### Recap

- remember if else elif which goes through the code once only

In [4]:
z = 6
if z % 2 == 0 : # True
    print("z is divisible by 2") # Executed
elif z % 3 == 0 :
    print("z is divisible by 3")
else :
    print("z is neither divisible by 2 nor by 3")

# Moving on...

z is divisible by 2

## While Loop
- While loop = repeated if statement

while condition :
    expression

- Numerically calculating model
- "repeating action until condition is met"
- Example
    - Error starts at 50
    - Divide error by 4 on every run
    - Continue until error no longer >

In [8]:
error = 50.0
# 50.0 ---> True
# 12.5 ---> True
# 3.125 ---> True
# 0.78125 --> False
while error > 1:
    error = error / 4
    print(error)

12.5
3.125
0.78125

the above code will follow
- Error starts at 50
- Divide error by 4 on every run
- Continue until error no longer > 1

In [ ]:
error = 50.0
while error > 1 : # always True to stop restart kernal
# error = error / 4
print(error)

## for loop

for var in seq :
    expression

In [9]:
spell_above_syntax = "for each var in seq, execute expression"

Remember the family list that have heights of family

In [10]:
fam = [1.73, 1.68, 1.71, 1.89]
print(fam)

[1.73, 1.68, 1.71, 1.89]

In [11]:
fam = [1.73, 1.68, 1.71, 1.89]
print(fam[0])
print(fam[1])
print(fam[2])
print(fam[3])

1.73
1.68
1.71
1.89

In [16]:
fam = [1.73, 1.68, 1.71, 1.89]
for height in fam :
    # 1 iteration height == 1.73
    # 2 iteration height == 1.86
    # 3 iteration height == 1.71
    # 4 iteration height == 1.89
    print(height)

1.73
1.68
1.71
1.89

#### enumerate()

In above example we **don't have access** to index lets suppose we want the index number also the code will be

In [15]:
fam = [1.73, 1.68, 1.71, 1.89]
for index, height in enumerate(fam) :
    print("index " + str(index) + ": " + str(height))

index 0: 1.73
index 1: 1.68
index 2: 1.71
index 3: 1.89

#### looping over string

In [17]:
for c in "family" :
    print(c.capitalize())

F
A
M
I
L
Y

In [22]:
for i, c in enumerate("family") :
    print("index "+str(i)+" "+ c.capitalize())

index 0 F
index 1 A
index 2 M
index 3 I
index 4 L
index 5 Y

#### Loop Data Structures Part 1

#### though Dictionaries

In [23]:
world = { "afghanistan":30.55,
"albania":2.77,
"algeria":39.21 }
for key, value in world :
    print(key + "--" + str(value))

ValueError: too many values to unpack (expected 2)

In [25]:
world = { "afghanistan":30.55,
"albania":2.77,
"algeria":39.21 }
for key, value in world.items() :
    print(key + " -- " + str(value))

afghanistan -- 30.55
albania -- 2.77
algeria -- 39.21

In [27]:
world = { "afghanistan":30.55,
"albania":2.77,
"algeria":39.21 }
for k, v in world.items() : # temperary variable can be anything or name
    print(k + " -- " + str(v))

afghanistan -- 30.55
albania -- 2.77
algeria -- 39.21

#### through Numpy

In [28]:
import numpy as np
np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])
bmi = np_weight / np_height ** 2

for val in bmi :
    print(val)

21.85171572722109
20.97505668934241
21.750282138093777
24.74734749867025
21.44127836209856

In [31]:
import numpy as np
np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])

meas = np.array([np_height, np_weight])

for val in meas :
    print(val)

[1.73 1.68 1.71 1.89 1.79]
[65.4 59.2 63.6 88.4 68.7]

In [32]:
import numpy as np
np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])

meas = np.array([np_height, np_weight])

for val in np.nditer(meas):
    print(val)

1.73
1.68
1.71
1.89
1.79
65.4
59.2
63.6
88.4
68.7

#### Recap:
 - Dictionaries
         - for key,val in my_dict.items():
 - Numpy array
         - for val in np.nditer(my_array) :

## Loop Data Structures Part 2

In [35]:
import pandas as pd
brics = pd.read_csv("./bricks.csv", index_col = 0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [36]:
for val in brics :
    print(val)

country
capital
area
population

##### whole table

In [38]:
for lab, row in brics.iterrows():
    print(lab)
    print(row)
    print()

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

IN
country           India
capital       New Delhi
area              3.286
population         1252
Name: IN, dtype: object

CH
country         China
capital       Beijing
area            9.597
population       1357
Name: CH, dtype: object

SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

##### Selective print

In [39]:
for lab, row in brics.iterrows():
    print(lab + ": " + row["capital"])

BR: Brasilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

##### Add column

In [40]:
for lab, row in brics.iterrows():
    brics.loc[lab, 'name_length'] = len(row['country']) # not a adaptive method we use .apply()

In [41]:
brics

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40          6.0
RU        Russia     Moscow  17.100      143.50          6.0
IN         India  New Delhi   3.286     1252.00          5.0
CH         China    Beijing   9.597     1357.00          5.0
SA  South Africa   Pretoria   1.221       52.98         12.0

###### apply()

In [44]:
brics['apply_name_length'] = brics['country'].apply(len)

In [45]:
brics

,country,capital,area,population,name_length,apply_name_length
BR,Brazil,Brasilia,8.516,200.40,6.0,6
RU,Russia,Moscow,17.100,143.50,6.0,6
IN,India,New Delhi,3.286,1252.00,5.0,5
CH,China,Beijing,9.597,1357.00,5.0,5
SA,South Africa,Pretoria,1.221,52.98,12.0,12

### Recap

- remember if else elif which goes through the code once only

In [4]:
z = 6
if z % 2 == 0 : # True
    print("z is divisible by 2") # Executed
elif z % 3 == 0 :
    print("z is divisible by 3")
else :
    print("z is neither divisible by 2 nor by 3")

# Moving on...

z is divisible by 2

## While Loop
- While loop = repeated if statement

while condition :
    expression

- Numerically calculating model
- "repeating action until condition is met"
- Example
    - Error starts at 50
    - Divide error by 4 on every run
    - Continue until error no longer >

In [8]:
error = 50.0
# 50.0 ---> True
# 12.5 ---> True
# 3.125 ---> True
# 0.78125 --> False
while error > 1:
    error = error / 4
    print(error)

12.5
3.125
0.78125

the above code will follow
- Error starts at 50
- Divide error by 4 on every run
- Continue until error no longer > 1

In [ ]:
error = 50.0
while error > 1 : # always True to stop restart kernal
# error = error / 4
print(error)

### Recap

- remember if else elif which goes through the code once only

In [4]:
z = 6
if z % 2 == 0 : # True
    print("z is divisible by 2") # Executed
elif z % 3 == 0 :
    print("z is divisible by 3")
else :
    print("z is neither divisible by 2 nor by 3")

# Moving on...

z is divisible by 2

## While Loop
- While loop = repeated if statement

while condition :
    expression

- Numerically calculating model
- "repeating action until condition is met"
- Example
    - Error starts at 50
    - Divide error by 4 on every run
    - Continue until error no longer >

In [8]:
error = 50.0
# 50.0 ---> True
# 12.5 ---> True
# 3.125 ---> True
# 0.78125 --> False
while error > 1:
    error = error / 4
    print(error)

12.5
3.125
0.78125

the above code will follow
- Error starts at 50
- Divide error by 4 on every run
- Continue until error no longer > 1

In [ ]:
error = 50.0
while error > 1 : # always True to stop restart kernal
# error = error / 4
print(error)

## Practice

###  while loop`

In [46]:
x = 1
while x < 4 :
    print(x)
    x = x + 1

1
2
3

In [47]:
# Initialize offset
offset = 8

# Code the while loop
while offset !=0:
    print('correcting...')
    offset = offset -1
    print(offset)

correcting...
7
correcting...
6
correcting...
5
correcting...
4
correcting...
3
correcting...
2
correcting...
1
correcting...
0

In [48]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0 :
        offset = offset -1
    else : 
        offset = offset +1    
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

### for loop

In [49]:
fam = [1.73, 1.68, 1.71, 1.89]
for height in fam : 
    print(height)

1.73
1.68
1.71
1.89

In [50]:
fam = [1.73, 1.68, 1.71, 1.89]
for index, height in enumerate(fam) :
    print("person " + str(index) + ": " + str(height))

person 0: 1.73
person 1: 1.68
person 2: 1.71
person 3: 1.89

In [51]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for area in areas:
    print(area)

11.25
18.0
20.0
10.75
9.5

In [52]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for index,area in enumerate(areas) :
    print("room "+str(index)+": "+str(area))

room 0: 11.25
room 1: 18.0
room 2: 20.0
room 3: 10.75
room 4: 9.5

In [53]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for index, area in enumerate(areas) :
    print("room " + str(index+1) + ": " + str(area))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

In [54]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch

for hou in house:
    print("the "+str(hou[0])+" is "+str(hou[1])+" sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [55]:
world = { "afghanistan":30.55, 
          "albania":2.77,
          "algeria":39.21 }

for key, value in world.items() :
    print(key + " -- " + str(value))

afghanistan -- 30.55
albania -- 2.77
algeria -- 39.21

In [56]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for country,capital in europe.items():
    print("the capital of "+country+" is "+capital)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [57]:
# Import numpy as np
import numpy as np

np_height = np.array([5,6,5,4,3,6,5,7])
np_baseball = np.array([[2,174.5], [3,175.6], [4, 176.7]])

# For loop over np_height
for height in np_height:
    print(str(height)+" inches")

# For loop over np_baseball
for baseball in np.nditer(np_baseball):
    print(baseball)

5 inches
6 inches
5 inches
4 inches
3 inches
6 inches
5 inches
7 inches
2.0
174.5
3.0
175.6
4.0
176.7

In [58]:
# Import cars data
import pandas as pd
cars = pd.read_csv('./cars.csv', index_col = 0)

# Iterate over rows of cars
for lab, row in cars.iterrows():
    print()
    print(lab)
    print(row)

US
cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object

AUS
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object

JPN
cars_per_cap      588
country         Japan
drives_right    False
Name: JPN, dtype: object

IN
cars_per_cap       18
country         India
drives_right    False
Name: IN, dtype: object

RU
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object

MOR
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object

EG
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

In [59]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Adapt for loop
for lab, row in cars.iterrows() :
    print(lab+": "+str(row['cars_per_cap']))

US: 809
AUS: 731
JPN: 588
IN: 18
RU: 200
MOR: 70
EG: 45

In [60]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Code for loop that adds COUNTRY column
for lab, row in cars.iterrows():
    cars.loc[lab, 'COUNTRY'] = row['country'].upper()


# Print cars
cars

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JPN           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

In [62]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Use .apply(str.upper)
cars['COUNTRY'] = cars['country'].apply(str.upper)

cars

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JPN           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT