# Introduction to Importing Data in Python
ðŸ‘‹ Welcome to your workspace! Here, you can write and run Python code and add text in Markdown. All the data files from the course, Introduction to Importing Data in Python, can be found in the datasets/ directory. The course packages have already been imported for you below. This is your sandbox environment: analyze the course datasets further, take notes, or experiment with code!

In [1]:
# Importing course packages; you can add more too!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.io
import h5py
from sas7bdat import SAS7BDAT
from sqlalchemy import create_engine
import pickle

### Don't know where to start?

There are nine data files in the `datasets/` directory of varying kinds: `battledeath.xlsx`, `Chinook.sqlite`, `disarea.dta`, `ja_data2.mat`, `L-L1_LOSC_4_V1-1126259446-32.hdf5`, `mnist_kaggle_some_rows.csv`, `sales.sas7bdat`, `seaslug.txt`, and `titanic_sub.csv`. 

Import each of these files into a format useful for data analysis in Python.

### Import data
- Flat files, e.g. `.txts`, `.csv`
- files from other softwares
- Relational databases

<img src= "./media/csv & relational database.png">

### Plain text files

<center><img src= "./media/plain txt.png"></center>

In [5]:
titanic = pd.read_csv("./datasets/titanic_sub.csv")
titanic.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

### Reading a text file

In [11]:
filename = './datasets/huck_finn.txt'
file = open(filename, mode='r') # 'r' is to read
text = file.read()
file.close()

### Printing a text file

In [12]:
print(text)

YOU don't know about me without you have read a book by
the name of The Adventures of Tom Sawyer; but that
ain't no matter. That book was made by Mr. Mark Twain,
and he told the truth, mainly. There was things which
he stretched, but mainly he told the truth. That is
nothing. never seen anybody but lied one time or
another, without it was Aunt Polly, or the widow, or
maybe Mary. Aunt Polly--Tom's Aunt Polly, she is--and
Mary, and the Widow Douglas is all told about in that
book, which is mostly a true book, with some
stretchers, as I said before.

### Writing to a file

In [13]:
filename = 'huck_finn.txt'
file = open(filename, mode='w') # 'w' is to write
file.close()

### Context manager with

In [15]:
with open('huck_finn.txt','r') as file:
    print(file.read())

- Print files to the console
- print specific lines
- Discuss flat files