Yesterdays, we learn about operators which are mostly used for solving mathematical experssions. Arthematic operators have some precedance while solving mathematical expressions i:e **BODMAS** (Body of Divide,Multiply,Addition,Subtraction) or sometimes we say it **PEMDAS** (parenthesis, exponents, Multiplication, divison addition and subtraction)

NOTE : In BODMAS and PEMDAS multiplication and division is done ir-regular because they have same precedance anyone of them can be done earlier then second one.

4+8-7(5**2)/3*2+7
4+8-7(25)/3*2+7
4+8-(175)/3*2+7
4+8-58.33*2+7
4+8-116.66+7
12-116.66+7
19-116.66
-97.66

## Control Flow

if logic:
    body
elif logic:
    body
else:
    body

In [9]:
if True:
    print('Pakistan')
else:
    print('Pak-Navy')

Pakistan

In [10]:
if True:
    print('Pakistan')
else:
    print('Pak-Navy')
    
if False:
    print('Pakistan')
else:
    print('Pak-Navy')

Pakistan
Pak-Navy

In [15]:
# if  statemnet

test_Value = 100

if test_Value > 1:
    print('This code is executeable!!!')

if test_Value > 100:
    print('This code is not executeable!!!')

print('Remaining program continue here...')

This code is executeable!!!
Remaining program continue here...

In [14]:
# elif Statments

pet_type = 'Fish'

if pet_type == 'Dog':
    print('You have Dog')
elif pet_type == 'Cat':
    print('You have Cat')
elif pet_type == 'Fish':
    print('You have a Fish')
else:
    print('Not sure')

You have a Fish

In [18]:
# else statement

test_Value = 50

if test_Value > 1:
    print('Value is greater than 1')
else:
    print('Value is less than 1')
    
test_string = 'VALID'

if  test_string == 'NOT_VALID':
    print('string equals NOT_VALID')
else:
    print('string equals something else')

Value is greater than 1
string equals something else

In [20]:
user = input('User Name: ')
password = input('password: ')

if (user == 'Qasim' or user == 'Muneeb') and password == '123':
    print('Valid User')
else:
    print('Invalid User')

User Name: Qasim
password: 123
Valid User

In [21]:
user = input('User Name: ')
password = input('Password: ')
if user in ['Qasim', 'Hassan', 'Muneeb'] and password == '123':
    print('Valid user')
else:
    print('Invalid user')

User Name: hassan
Password: 123
Invalid user

## Loops

for <temporary Variable> in <list variable>:
    <action statement>
    <action statement>

In [23]:
nums = [1,2,3,4,5]
for i in nums:
    print(i)

1
2
3
4
5

In [24]:
#continue
big_number_list = [1,2,-1,4,-5,5,2,-9]

for i in big_number_list:
    if i < 0:
        continue
    print(i)

1
2
4
5
2

In [25]:
#break
big_number_list = [1,2,-1,4,-5,5,2,-9]

for i in big_number_list:
    if i < 0:
        print('Negative number Detected..!!')
        break
    print(i)

1
2
Negative number Detected..!!

In [33]:
# nested loop
groups = [['Qasim','Muneeb'],['Haseeb', 'Amir'], ['Zaidi','Abbas']]

for group in groups:
    print(group)
    for name in group:
        print(name)

['Qasim', 'Muneeb']
Qasim
Muneeb
['Haseeb', 'Amir']
Haseeb
Amir
['Zaidi', 'Abbas']
Zaidi
Abbas

In [29]:
for i in range(5):
    print(str(i)+ ' Pakistan Zindabad')

0 Pakistan Zindabad
1 Pakistan Zindabad
2 Pakistan Zindabad
3 Pakistan Zindabad
4 Pakistan Zindabad

In [30]:
for i in range(5,10):
    print(str(i)+ ' Pakistan Zindabad')

5 Pakistan Zindabad
6 Pakistan Zindabad
7 Pakistan Zindabad
8 Pakistan Zindabad
9 Pakistan Zindabad

In [31]:
for i in range(5,10,2):
    print(str(i)+ ' Pakistan Zindabad')

5 Pakistan Zindabad
7 Pakistan Zindabad
9 Pakistan Zindabad

In [14]:
for i in range(1,11):
#     print(2,"x",i,'=', 2*i)
#     print("2 x "+str(i)+" ="+str(2*i))
    print(f"2 x {i} = {2*i}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [15]:
for i in range(10,0,-1):
#     print(2,"x",i,'=', 2*i)
#     print("2 x "+str(i)+" ="+str(2*i))
    print(f"2 x {i} = {2*i}")

2 x 10 = 20
2 x 9 = 18
2 x 8 = 16
2 x 7 = 14
2 x 6 = 12
2 x 5 = 10
2 x 4 = 8
2 x 3 = 6
2 x 2 = 4
2 x 1 = 2

In [19]:
table_no = int(input('Enter table no: '))
start = int(input('starting point of table: '))
end = int(input('Ending point of table: '))

for i in range(start,end+1):
    print(f"{table_no} x {i} = {table_no * i} ")

Enter table no: 3
starting point of table: 1
Ending point of table: 10
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [25]:
table_no = int(input('Enter table no: '))
start = int(input('starting point of table: '))
end = int(input('Ending point of table: '))

for table in range(1,table_no+1):
    print("------------------")
    for i in range(start,end+1):
        print(f"{table} x {i} = {table_no * i} ")

Enter table no: 3
starting point of table: 3
Ending point of table: 5
------------------
1 x 3 = 9
1 x 4 = 12
1 x 5 = 15
------------------
2 x 3 = 9
2 x 4 = 12
2 x 5 = 15
------------------
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

In [30]:
table_no = int(input('Enter table no: '))
start = int(input('starting point of table: '))
end = int(input('Ending point of table: '))

for i in range(start,end+1):
    for table in range(1,table_no+1):
        print(f"{table} x {i} = {table_no * i} ", end='\t')
    print()

Enter table no: 5
starting point of table: 2
Ending point of table: 7
1 x 2 = 10 	2 x 2 = 10 	3 x 2 = 10 	4 x 2 = 10 	5 x 2 = 10
1 x 3 = 15 	2 x 3 = 15 	3 x 3 = 15 	4 x 3 = 15 	5 x 3 = 15
1 x 4 = 20 	2 x 4 = 20 	3 x 4 = 20 	4 x 4 = 20 	5 x 4 = 20
1 x 5 = 25 	2 x 5 = 25 	3 x 5 = 25 	4 x 5 = 25 	5 x 5 = 25
1 x 6 = 30 	2 x 6 = 30 	3 x 6 = 30 	4 x 6 = 30 	5 x 6 = 30
1 x 7 = 35 	2 x 7 = 35 	3 x 7 = 35 	4 x 7 = 35 	5 x 7 = 35

In [34]:
hungry = True
while hungry:
    print('Time to eat ..!!')
    hungry = False # if we donot add this loop will in infite

Time to eat ..!!

In [35]:
x = 5
while x > 0:
    print(x)
    x-=1

5
4
3
2
1

In [36]:
x = 1
while x < 5:
    print(x)
    x +=1

1
2
3
4

In [1]:
counter = 1 

while counter <=10:
    print('line no : ',counter)
    counter +=1

line no :  1
line no :  2
line no :  3
line no :  4
line no :  5
line no :  6
line no :  7
line no :  8
line no :  9
line no :  10

In [2]:
counter = 1000

while counter >=990:
    print('line no :', counter)
    counter-=1

line no : 1000
line no : 999
line no : 998
line no : 997
line no : 996
line no : 995
line no : 994
line no : 993
line no : 992
line no : 991
line no : 990